{"swagger":"2.0","info":{"version":"v1","title":"IconicMobileWeb"},"host":"portale.tecnologica.info","basePath":"/IconicMobileWeb","schemes":["https"],"paths":{"/api/anagrafica/ping":{"get":{"tags":["Anagrafica"],"operationId":"Anagrafica_GetPing","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/api/anagrafica/info/{pv}":{"get":{"tags":["Anagrafica"],"operationId":"Anagrafica_GetInfo","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"pv","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/IconicMobileWeb.Anagrafica_Info"}}}}},"/api/anagrafica/ver":{"get":{"tags":["Anagrafica"],"operationId":"Anagrafica_GetVer","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/anagrafica/ora":{"get":{"tags":["Anagrafica"],"operationId":"Anagrafica_GetOra","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/anagrafica/articoli/{pv}/{ora}":{"get":{"tags":["Anagrafica"],"operationId":"Anagrafica_GetArticoli","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"pv","in":"path","required":true,"type":"integer","format":"int32"},{"name":"ora","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Anagrafica_Articoli"}}}}}},"/api/anagrafica/items/{pv}/{ora}":{"get":{"tags":["Anagrafica"],"operationId":"Anagrafica_GetItems","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"pv","in":"path","required":true,"type":"integer","format":"int32"},{"name":"ora","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Anagrafica_Items"}}}}}},"/api/anagrafica/fornitori/{pv}/{ora}":{"get":{"tags":["Anagrafica"],"operationId":"Anagrafica_GetFornitori","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"pv","in":"path","required":true,"type":"integer","format":"int32"},{"name":"ora","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Anagrafica_Fornitori"}}}}}},"/api/anagrafica/codici/{pv}/{ora}":{"get":{"tags":["Anagrafica"],"operationId":"Anagrafica_GetCodici","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"pv","in":"path","required":true,"type":"integer","format":"int32"},{"name":"ora","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Anagrafica_ArtFor"}}}}}},"/api/anagrafica/promozioni/{pv}/{ora}":{"get":{"tags":["Anagrafica"],"operationId":"Anagrafica_GetPromozioni","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"pv","in":"path","required":true,"type":"integer","format":"int32"},{"name":"ora","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Anagrafica_Promozioni"}}}}}},"/api/anagrafica/promoscadute/{pv}/{dataEnd}":{"get":{"tags":["Anagrafica"],"operationId":"Anagrafica_GetPromoScadute","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"pv","in":"path","required":true,"type":"integer","format":"int32"},{"name":"dataEnd","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Anagrafica_Promozioni"}}}}}},"/api/anagrafica/image/{pv}/{articolo}":{"get":{"tags":["Anagrafica"],"operationId":"Anagrafica_GetImage","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"pv","in":"path","required":true,"type":"integer","format":"int32"},{"name":"articolo","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["Anagrafica"],"operationId":"Anagrafica_PostImage","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"pv","in":"path","required":true,"type":"integer","format":"int32"},{"name":"articolo","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/anagrafica/storico/{pv}/{articolo}/{tipo}/{periodo}":{"get":{"tags":["Anagrafica"],"operationId":"Anagrafica_GetStorico","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"pv","in":"path","required":true,"type":"integer","format":"int32"},{"name":"articolo","in":"path","required":true,"type":"string"},{"name":"tipo","in":"path","required":true,"type":"integer","format":"int32","enum":[0,1]},{"name":"periodo","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Anagrafica_Storico"}}}}}},"/api/anagrafica/storicovendite/{pv}/{articolo}/{dataInizio}/{dataFine}":{"get":{"tags":["Anagrafica"],"operationId":"Anagrafica_GetStoricoVendite","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"pv","in":"path","required":true,"type":"integer","format":"int32"},{"name":"articolo","in":"path","required":true,"type":"string"},{"name":"dataInizio","in":"path","required":true,"type":"string"},{"name":"dataFine","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Anagrafica_StoricoVendite"}}}}}},"/api/anagrafica/storicoacquisti/{pv}/{articolo}/{dataInizio}/{dataFine}/{fornitore}":{"get":{"tags":["Anagrafica"],"operationId":"Anagrafica_GetStoricoAcquisti","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"pv","in":"path","required":true,"type":"integer","format":"int32"},{"name":"articolo","in":"path","required":true,"type":"string"},{"name":"dataInizio","in":"path","required":true,"type":"string"},{"name":"dataFine","in":"path","required":true,"type":"string"},{"name":"fornitore","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Anagrafica_StoricoAcquisti"}}}}}},"/api/anagrafica/bolle/{pv}/{ora}":{"get":{"tags":["Anagrafica"],"operationId":"Anagrafica_GetBolle","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"pv","in":"path","required":true,"type":"integer","format":"int32"},{"name":"ora","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Bolla"}}}}}},"/api/anagrafica/bolle/{pv}":{"post":{"tags":["Anagrafica"],"operationId":"Anagrafica_PostVerifica","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"pv","in":"path","required":true,"type":"integer","format":"int32"},{"name":"verifica","in":"body","required":true,"schema":{"$ref":"#/definitions/IconicMobileWeb.Bolla+Verifica"}}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/api/anagrafica/nrm/{pv}":{"get":{"tags":["Anagrafica"],"operationId":"Anagrafica_GetNRM","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"pv","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Anagrafica_RigheNRM"}}}}},"post":{"tags":["Anagrafica"],"operationId":"Anagrafica_PostNRM","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"pv","in":"path","required":true,"type":"integer","format":"int32"},{"name":"valori","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Anagrafica_RigheNRM+Ordine_NRM"}}}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/api/anagrafica/depositi/{pv}/{ora}":{"get":{"tags":["Anagrafica"],"operationId":"Anagrafica_GetDepositi","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"pv","in":"path","required":true,"type":"integer","format":"int32"},{"name":"ora","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Anagrafica_Depositi"}}}}}},"/api/anagrafica/unactive_expire/{idStore}/{processedDays}":{"get":{"tags":["Anagrafica"],"operationId":"Anagrafica_GetUnactive_expire","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"idStore","in":"path","required":true,"type":"integer","format":"int32"},{"name":"processedDays","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Anagrafica_Scadenze"}}}}}},"/api/anagrafica/active_expire/{idStore}":{"get":{"tags":["Anagrafica"],"operationId":"Anagrafica_GetActive_expire","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"idStore","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Anagrafica_Scadenze"}}}}}},"/api/anagrafica/Orders_history/{idStore}/{startdate}/{supplier}":{"get":{"tags":["Anagrafica"],"operationId":"Anagrafica_GetOrders_history","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"idStore","in":"path","required":true,"type":"integer","format":"int32"},{"name":"startdate","in":"path","required":true,"type":"string"},{"name":"supplier","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Anagrafica_StoricoOrdini"}}}}}},"/api/anagrafica/Orders_item/{idStore}/{startdate}/{itemCode}/{supplier}":{"get":{"tags":["Anagrafica"],"operationId":"Anagrafica_GetItem_orders","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"idStore","in":"path","required":true,"type":"integer","format":"int32"},{"name":"startdate","in":"path","required":true,"type":"string"},{"name":"itemCode","in":"path","required":true,"type":"string"},{"name":"supplier","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Anagrafica_StoricoOrdini"}}}}}},"/api/backoffice":{"head":{"tags":["BackOfficeModifications"],"operationId":"BackOfficeModifications_Head","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/backoffice/{id}":{"get":{"tags":["BackOfficeModifications"],"operationId":"BackOfficeModifications_GetModifiche","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.ModificheBO"}}}}},"post":{"tags":["BackOfficeModifications"],"operationId":"BackOfficeModifications_PostModifica","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"dataOra","in":"body","required":true,"schema":{"format":"date-time","type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/api/backoffice/{mac}/{id}/{ore}":{"get":{"tags":["BackOfficeModifications"],"operationId":"BackOfficeModifications_GetModificheApplicate","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"mac","in":"path","required":true,"type":"string"},{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"ore","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.ModificheBO+guidCnt"}}}}}},"/api/backoffice/etichetta/{mac}/{codice}":{"post":{"tags":["BackOfficeModifications"],"operationId":"BackOfficeModifications_PostEtichetta","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"mac","in":"path","required":true,"type":"string"},{"name":"codice","in":"path","required":true,"type":"string"},{"name":"info","in":"body","required":true,"schema":{"$ref":"#/definitions/IconicMobileWeb.ModificaMsg"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/backoffice/prezzo/{mac}/{codice}":{"post":{"tags":["BackOfficeModifications"],"operationId":"BackOfficeModifications_PostPrezzo","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"mac","in":"path","required":true,"type":"string"},{"name":"codice","in":"path","required":true,"type":"string"},{"name":"info","in":"body","required":true,"schema":{"$ref":"#/definitions/IconicMobileWeb.ModificaMsg"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/backoffice/giacenza/{mac}/{codice}":{"post":{"tags":["BackOfficeModifications"],"operationId":"BackOfficeModifications_PostGiacenza","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"mac","in":"path","required":true,"type":"string"},{"name":"codice","in":"path","required":true,"type":"string"},{"name":"info","in":"body","required":true,"schema":{"$ref":"#/definitions/IconicMobileWeb.ModificaMsg"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/backoffice/scortaMin/{mac}/{codice}":{"post":{"tags":["BackOfficeModifications"],"operationId":"BackOfficeModifications_PostScortaMin","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"mac","in":"path","required":true,"type":"string"},{"name":"codice","in":"path","required":true,"type":"string"},{"name":"info","in":"body","required":true,"schema":{"$ref":"#/definitions/IconicMobileWeb.ModificaMsg"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/backoffice/promo/{mac}/{codice}":{"post":{"tags":["BackOfficeModifications"],"operationId":"BackOfficeModifications_PostPromo","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"mac","in":"path","required":true,"type":"string"},{"name":"info","in":"body","required":true,"schema":{"$ref":"#/definitions/IconicMobileWeb.PromoMsg"}},{"name":"codice","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/backoffice/offerta/{mac}/{codice}":{"post":{"tags":["BackOfficeModifications"],"operationId":"BackOfficeModifications_PostOfferta","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"mac","in":"path","required":true,"type":"string"},{"name":"codice","in":"path","required":true,"type":"string"},{"name":"info","in":"body","required":true,"schema":{"$ref":"#/definitions/IconicMobileWeb.OffertaMsg"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/backoffice/expire/{mac}":{"post":{"tags":["BackOfficeModifications"],"operationId":"BackOfficeModifications_PostExpire","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"mac","in":"path","required":true,"type":"string"},{"name":"info","in":"body","required":true,"schema":{"$ref":"#/definitions/IconicMobileWeb.RootScadenzeMsg"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/backoffice/centrali":{"get":{"tags":["BackOfficeModifications"],"operationId":"BackOfficeModifications_GetCentrali","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Centrale"}}}}}},"/api/backoffice/pv/{id}":{"get":{"tags":["BackOfficeModifications"],"operationId":"BackOfficeModifications_GetPuntiVendita","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.PuntoVendita"}}}}}},"/api/cesti/{idPV}":{"get":{"tags":["CestiDevice"],"operationId":"CestiDevice_GetValues","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"idPV","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Cesto"}}}}}},"/api/cesti":{"post":{"tags":["CestiDevice"],"operationId":"CestiDevice_PostValue","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"value","in":"body","required":true,"schema":{"$ref":"#/definitions/IconicMobileWeb.Cesto"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/cesti/{id}":{"delete":{"tags":["CestiDevice"],"operationId":"CestiDevice_DeleteValue","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/device/{mac}":{"get":{"tags":["Device"],"operationId":"Device_GetValues","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"mac","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/IconicMobileWeb.DeviceSetting"}}}}},"/api/device/position/{mac}":{"post":{"tags":["Device"],"operationId":"Device_PostPosition","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"mac","in":"path","required":true,"type":"string"},{"name":"position","in":"body","required":true,"schema":{"$ref":"#/definitions/IconicMobileWeb.Position"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/device/log/{mac}":{"post":{"tags":["Device"],"operationId":"Device_PostLogIconic","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"mac","in":"path","required":true,"type":"string"},{"name":"logObj","in":"body","required":true,"schema":{"$ref":"#/definitions/IconicMobileWeb.Log"}}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/api/device/setup/{mac}":{"get":{"tags":["Device"],"operationId":"Device_GetSetup","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"mac","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/device/exitSetup/{mac}":{"get":{"tags":["Device"],"operationId":"Device_GetExitSetup","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"mac","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/device/address/{mac}":{"get":{"tags":["Device"],"operationId":"Device_GetAddress","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"mac","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/IconicMobileWeb.DeviceInfo+anagraficaWSInfo"}}}}},"/api/device/status/{mac}":{"post":{"tags":["Device"],"operationId":"Device_PostStatus","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"mac","in":"path","required":true,"type":"string"},{"name":"success","in":"body","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/device/setResetDB/{mac}":{"get":{"tags":["Device"],"operationId":"Device_GetSetReset","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"mac","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/device/version/{mac}":{"post":{"tags":["Device"],"operationId":"Device_PostVersion","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"mac","in":"path","required":true,"type":"string"},{"name":"versione","in":"body","required":true,"schema":{"format":"int32","type":"integer"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/device/apk/{mac}":{"get":{"tags":["Device"],"operationId":"Device_GetApk","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"mac","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/device/configData/{mac}/{userId}":{"get":{"tags":["Device"],"operationId":"Device_GetConfigData","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"mac","in":"path","required":true,"type":"string"},{"name":"userId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.DeviceDocConfig+DocConfig"}}}}}},"/api/device/moduleAlert/{mac}/{userId}":{"get":{"tags":["Device"],"operationId":"Device_GetModuleAlert","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"mac","in":"path","required":true,"type":"string"},{"name":"userId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.ModuleAlert"}}}}}},"/api/device/domain":{"get":{"tags":["Device"],"operationId":"Device_GetDomain","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"string"}}}}}},"/api/device/infodevice/{mac}":{"post":{"tags":["Device"],"operationId":"Device_PostInfoDevice","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"mac","in":"path","required":true,"type":"string"},{"name":"info","in":"body","required":true,"schema":{"$ref":"#/definitions/IconicMobileWeb.DeviceInfo+DeviceProp"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/users/{mac}":{"get":{"tags":["DeviceUser"],"operationId":"DeviceUser_getUtenti","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"mac","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.MiniUtenteDevice"}}}}},"post":{"tags":["DeviceUser"],"operationId":"DeviceUser_postUtenteLogin","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"mac","in":"path","required":true,"type":"string"},{"name":"idUtente","in":"body","required":true,"schema":{"format":"int32","type":"integer"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/users/out/{mac}":{"post":{"tags":["DeviceUser"],"operationId":"DeviceUser_postUtenteLogout","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"mac","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/users/icone/{idUtente}":{"post":{"tags":["DeviceUser"],"operationId":"DeviceUser_postUtenteIcone","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"idUtente","in":"path","required":true,"type":"integer","format":"int32"},{"name":"ordine","in":"body","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/documenti/{pv}/{utente}":{"get":{"tags":["Documenti"],"operationId":"Documenti_GetDocumenti","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"pv","in":"path","required":true,"type":"integer","format":"int32"},{"name":"utente","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Documenti_Documento"}}}}}},"/api/documenti/{id}/{mac}/{dataora}":{"delete":{"tags":["Documenti"],"operationId":"Documenti_DeleteDocumento","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"mac","in":"path","required":true,"type":"string"},{"name":"dataora","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/documenti/nuovo/{utente}/{mac}/{dataora}":{"post":{"tags":["Documenti"],"operationId":"Documenti_PostNuovo","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"utente","in":"path","required":true,"type":"integer","format":"int32"},{"name":"mac","in":"path","required":true,"type":"string"},{"name":"dataora","in":"path","required":true,"type":"string"},{"name":"documento","in":"body","required":true,"schema":{"$ref":"#/definitions/IconicMobileWeb.DocumentoDevice"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/documenti/modifica/{id}/{mac}/{dataora}":{"get":{"tags":["Documenti"],"operationId":"Documenti_GetModifica","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"mac","in":"path","required":true,"type":"string"},{"name":"dataora","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/documenti/chiudi/{id}/{mac}/{dataora}":{"get":{"tags":["Documenti"],"operationId":"Documenti_GetChiudi","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"mac","in":"path","required":true,"type":"string"},{"name":"dataora","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/documenti/prelevato/{id}":{"get":{"tags":["Documenti"],"operationId":"Documenti_GetPrelevato","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/documenti/riga/{id}/{mac}/{dataora}":{"put":{"tags":["Documenti"],"operationId":"Documenti_PutRiga","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"mac","in":"path","required":true,"type":"string"},{"name":"dataora","in":"path","required":true,"type":"string"},{"name":"riga","in":"body","required":true,"schema":{"$ref":"#/definitions/IconicMobileWeb.DocumentoDevice+RigaDocDeviceId"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}},"post":{"tags":["Documenti"],"operationId":"Documenti_PostRiga","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"mac","in":"path","required":true,"type":"string"},{"name":"dataora","in":"path","required":true,"type":"string"},{"name":"riga","in":"body","required":true,"schema":{"$ref":"#/definitions/IconicMobileWeb.DocumentoDevice+RigaDocDevice"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}},"delete":{"tags":["Documenti"],"operationId":"Documenti_DeleteRiga","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"mac","in":"path","required":true,"type":"string"},{"name":"dataora","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/documenti/chiudidoc/{id}/{mac}/{sDataIng}/{dataora}":{"post":{"tags":["Documenti"],"operationId":"Documenti_PostChiudiDoc","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"mac","in":"path","required":true,"type":"string"},{"name":"sDataIng","in":"path","required":true,"type":"string"},{"name":"righe","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.DocumentoDevice+RigaDocDevice"}}},{"name":"dataora","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.DocumentoDevice+RigaDocDeviceId"}}}}}},"/api/documenti/opened/{idStore}":{"get":{"tags":["Documenti"],"operationId":"Documenti_GetOpenDocs","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"idStore","in":"path","required":true,"type":"integer","format":"int32"},{"name":"param.days","in":"query","required":false,"type":"integer","format":"int32"},{"name":"param.user_id","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Documenti_Documento"}}}}}},"/api/documenti/closed/{idStore}":{"get":{"tags":["Documenti"],"operationId":"Documenti_GetClosedDocs","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"idStore","in":"path","required":true,"type":"integer","format":"int32"},{"name":"param.days","in":"query","required":false,"type":"integer","format":"int32"},{"name":"param.user_id","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Documenti_Documento"}}}}}},"/api/inventario/ping":{"get":{"tags":["Inventario"],"operationId":"Inventario_GetPing","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/api/inventario/{pv}/{utente}":{"get":{"tags":["Inventario"],"operationId":"Inventario_GetAperti","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"pv","in":"path","required":true,"type":"integer","format":"int32"},{"name":"utente","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Inventario"}}}}}},"/api/inventario/{pv}":{"get":{"tags":["Inventario"],"operationId":"Inventario_GetChiusi","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"pv","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Inventario"}}}}}},"/api/inventario/chiudi":{"post":{"tags":["Inventario"],"operationId":"Inventario_PostChiudi","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"body","required":true,"schema":{"format":"int32","type":"integer"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/inventario/importato":{"post":{"tags":["Inventario"],"operationId":"Inventario_PostImportato","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"body","required":true,"schema":{"format":"int32","type":"integer"}}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/api/inventario/righe/{id}":{"get":{"tags":["Inventario"],"operationId":"Inventario_GetRighe","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Inventario+Elemento"}}}}}},"/api/inventario/riga/{id}":{"post":{"tags":["Inventario"],"operationId":"Inventario_PostRiga","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"riga","in":"body","required":true,"schema":{"$ref":"#/definitions/IconicMobileWeb.Inventario+Elemento"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/inventario/row/{id}":{"post":{"tags":["Inventario"],"operationId":"Inventario_PostRow","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"riga","in":"body","required":true,"schema":{"$ref":"#/definitions/IconicMobileWeb.Inventario+Elemento"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/inventario/insert":{"post":{"tags":["Inventario"],"operationId":"Inventario_PostLista","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"lista","in":"body","required":true,"schema":{"$ref":"#/definitions/IconicMobileWeb.Inventario"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/inventario":{"delete":{"tags":["Inventario"],"operationId":"Inventario_DeleteLista","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"body","required":true,"schema":{"format":"int32","type":"integer"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/inventario/riga":{"delete":{"tags":["Inventario"],"operationId":"Inventario_DeleteRiga","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"body","required":true,"schema":{"format":"int32","type":"integer"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/inventario/row":{"delete":{"tags":["Inventario"],"operationId":"Inventario_DeleteRow","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"body","required":true,"schema":{"format":"int32","type":"integer"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/inventario/chiudiInv/{idInv}/{idUtente}/{dataora}":{"post":{"tags":["Inventario"],"operationId":"Inventario_PostChiudiInv","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"idInv","in":"path","required":true,"type":"integer","format":"int32"},{"name":"idUtente","in":"path","required":true,"type":"integer","format":"int32"},{"name":"dataora","in":"path","required":true,"type":"string"},{"name":"righe","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Inventario+Elemento"}}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Inventario+Elemento"}}}}}},"/api/inventario/opened/{idStore}":{"get":{"tags":["Inventario"],"operationId":"Inventario_GetOpenInv","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"idStore","in":"path","required":true,"type":"integer","format":"int32"},{"name":"param.days","in":"query","required":false,"type":"integer","format":"int32"},{"name":"param.user_id","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Inventario"}}}}}},"/api/inventario/closed/{idStore}":{"get":{"tags":["Inventario"],"operationId":"Inventario_GetClosedInv","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"idStore","in":"path","required":true,"type":"integer","format":"int32"},{"name":"param.days","in":"query","required":false,"type":"integer","format":"int32"},{"name":"param.user_id","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Inventario"}}}}}},"/api/inventario/riga/{idInventario}":{"put":{"tags":["Inventario"],"operationId":"Inventario_PutRiga","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"idInventario","in":"path","required":true,"type":"integer","format":"int32"},{"name":"riga","in":"body","required":true,"schema":{"$ref":"#/definitions/IconicMobileWeb.Inventario+Elemento"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/list/insert/{mac}":{"post":{"tags":["Raccolte"],"operationId":"Raccolte_PostInsert","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"mac","in":"path","required":true,"type":"string"},{"name":"lista","in":"body","required":true,"schema":{"$ref":"#/definitions/IconicMobileWeb.RaccolteDevice"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/list/row/{idList}/{mac}":{"put":{"tags":["Raccolte"],"operationId":"Raccolte_PutRow","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"idList","in":"path","required":true,"type":"integer","format":"int32"},{"name":"mac","in":"path","required":true,"type":"string"},{"name":"riga","in":"body","required":true,"schema":{"$ref":"#/definitions/IconicMobileWeb.RaccolteDevice+ListRow"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["Raccolte"],"operationId":"Raccolte_PostRow","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"idList","in":"path","required":true,"type":"integer","format":"int32"},{"name":"mac","in":"path","required":true,"type":"string"},{"name":"riga","in":"body","required":true,"schema":{"$ref":"#/definitions/IconicMobileWeb.RaccolteDevice+ListRow"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/list/row/{idRow}/{idList}/{mac}":{"delete":{"tags":["Raccolte"],"operationId":"Raccolte_DeleteRow","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"idRow","in":"path","required":true,"type":"integer","format":"int32"},{"name":"idList","in":"path","required":true,"type":"integer","format":"int32"},{"name":"mac","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/list/{idList}/{mac}":{"delete":{"tags":["Raccolte"],"operationId":"Raccolte_DeleteList","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"idList","in":"path","required":true,"type":"integer","format":"int32"},{"name":"mac","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/list/save/{idList}/{idUser}/{dateAndTime}/{Mac}":{"post":{"tags":["Raccolte"],"operationId":"Raccolte_PostSave","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"idList","in":"path","required":true,"type":"integer","format":"int32"},{"name":"idUser","in":"path","required":true,"type":"integer","format":"int32"},{"name":"dateAndTime","in":"path","required":true,"type":"string"},{"name":"Mac","in":"path","required":true,"type":"string"},{"name":"righe","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.RaccolteDevice+ListRow"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/IconicMobileWeb.RaccolteDevice+ListRow"}}}}},"/api/list/imported":{"post":{"tags":["Raccolte"],"operationId":"Raccolte_PostImported","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"body","required":true,"schema":{"format":"int32","type":"integer"}}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/api/list/tobeimported/{idStore}/{idDomain}/{idUser}":{"get":{"tags":["Raccolte"],"operationId":"Raccolte_GetToBeImported","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"idStore","in":"path","required":true,"type":"integer","format":"int32"},{"name":"idDomain","in":"path","required":true,"type":"string"},{"name":"idUser","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.RaccolteDevice"}}}}}},"/api/list/opened/{idStore}":{"get":{"tags":["Raccolte"],"operationId":"Raccolte_GetOpened","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"idStore","in":"path","required":true,"type":"integer","format":"int32"},{"name":"param.days","in":"query","required":false,"type":"integer","format":"int32"},{"name":"param.user_id","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.RaccolteDevice"}}}}}},"/api/list/closed/{idStore}":{"get":{"tags":["Raccolte"],"operationId":"Raccolte_GetClosed","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"idStore","in":"path","required":true,"type":"integer","format":"int32"},{"name":"param.days","in":"query","required":false,"type":"integer","format":"int32"},{"name":"param.user_id","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.RaccolteDevice"}}}}}},"/api/list/rows/{id}":{"get":{"tags":["Raccolte"],"operationId":"Raccolte_GetRows","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.RaccolteDevice+ListRow"}}}}}},"/api/usersModules/{idUtente}":{"get":{"tags":["UsersModules"],"operationId":"UsersModules_GetConfig","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"idUtente","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/IconicMobileWeb.UsersModules"}}}}}},"definitions":{"IconicMobileWeb.Anagrafica_Info":{"type":"object","properties":{"ora":{"type":"string"},"nomeProgramma":{"type":"string"},"nomeNegozio":{"type":"string"},"versioneDB":{"format":"int32","type":"integer"},"centrale":{"type":"boolean"},"tipiDocumenti":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Anagrafica_Info+TipoDocumenti"}},"capacita":{"$ref":"#/definitions/IconicMobileWeb.Anagrafica_Info+PossibiliCapacita"}}},"IconicMobileWeb.Anagrafica_Info+TipoDocumenti":{"type":"object","properties":{"id":{"type":"string"},"descrizione":{"type":"string"},"numeroObbligatorio":{"type":"boolean"},"fornitore":{"type":"boolean"},"magazzino":{"type":"boolean"},"deposito":{"type":"boolean"},"soloFuturi":{"type":"boolean"}}},"IconicMobileWeb.Anagrafica_Info+PossibiliCapacita":{"type":"object","properties":{"bolle":{"type":"boolean"},"image":{"type":"boolean"},"modificaGiacenza":{"type":"boolean"},"modificaPrezzo":{"type":"boolean"},"modificaPromozioni":{"type":"boolean"},"modificaScortaMin":{"type":"boolean"},"nrm":{"type":"boolean"},"promozioni":{"type":"boolean"},"stampaEtichetta":{"type":"boolean"},"storico":{"type":"boolean"}}},"IconicMobileWeb.Anagrafica_Articoli":{"required":["codice","descrizione"],"type":"object","properties":{"codice":{"type":"string"},"descrizione":{"type":"string"},"prezzo":{"format":"double","type":"number"},"prezzoOriginale":{"format":"double","type":"number"},"misura":{"$ref":"#/definitions/IconicMobileWeb.Anagrafica_Articoli+MisuraType"},"iva":{"$ref":"#/definitions/IconicMobileWeb.Anagrafica_Articoli+IVAType"},"giacenza":{"format":"double","type":"number"},"scortaMinima":{"format":"double","type":"number"},"stato":{"type":"string"},"venditaAPeso":{"type":"boolean"},"promozione":{"type":"string"},"codiciVendita":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Anagrafica_Articoli+CodiceVendita"}},"ultimoFornitore":{"type":"string"},"dataAcquisto":{"format":"date-time","type":"string"},"quantitàAcquisto":{"format":"double","type":"number"},"costoAcquisto":{"format":"double","type":"number"},"dataOrdine":{"format":"date-time","type":"string"},"quantitàOrdine":{"format":"double","type":"number"},"costoOrdine":{"format":"double","type":"number"},"dataVendita":{"format":"date-time","type":"string"},"quantitàVendita":{"format":"double","type":"number"},"codReparto":{"type":"string"},"reparto":{"type":"string"},"tipo":{"format":"int32","enum":[0,1,2,3],"type":"integer"},"codDeposito":{"type":"string"},"deposito":{"type":"string"},"varianti":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Anagrafica_Articoli+Variante"}}}},"IconicMobileWeb.Anagrafica_Articoli+MisuraType":{"type":"object","properties":{"unità":{"type":"string"},"quantità":{"format":"double","type":"number"}}},"IconicMobileWeb.Anagrafica_Articoli+IVAType":{"type":"object","properties":{"desc":{"type":"string"},"val":{"format":"int32","maximum":100,"minimum":0,"type":"integer"}}},"IconicMobileWeb.Anagrafica_Articoli+CodiceVendita":{"type":"object","properties":{"codice":{"type":"string"},"tipo":{"format":"int32","enum":[1,2,3,4,5],"type":"integer"},"moltiplicatore":{"format":"int32","type":"integer"},"divisore":{"format":"int32","type":"integer"}}},"IconicMobileWeb.Anagrafica_Articoli+Variante":{"type":"object","properties":{"codice":{"type":"string"},"nome":{"type":"string"}}},"IconicMobileWeb.Anagrafica_Items":{"required":["codice","descrizione"],"type":"object","properties":{"codice":{"type":"string"},"descrizione":{"type":"string"},"prezzo":{"format":"double","type":"number"},"prezzoOriginale":{"format":"double","type":"number"},"misura":{"$ref":"#/definitions/IconicMobileWeb.Anagrafica_Items+MisuraType"},"iva":{"$ref":"#/definitions/IconicMobileWeb.Anagrafica_Items+IVAType"},"giacenza":{"format":"double","type":"number"},"scortaMinima":{"format":"double","type":"number"},"stato":{"type":"string"},"venditaAPeso":{"type":"boolean"},"promozione":{"type":"string"},"codiciVendita":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Anagrafica_Items+CodiceVendita"}},"ultimoFornitore":{"type":"string"},"dataAcquisto":{"format":"date-time","type":"string"},"quantitàAcquisto":{"format":"double","type":"number"},"costoAcquisto":{"format":"double","type":"number"},"dataOrdine":{"format":"date-time","type":"string"},"quantitàOrdine":{"format":"double","type":"number"},"costoOrdine":{"format":"double","type":"number"},"dataVendita":{"format":"date-time","type":"string"},"quantitàVendita":{"format":"double","type":"number"},"codReparto":{"type":"string"},"reparto":{"type":"string"},"tipo":{"format":"int32","enum":[0,1,2,3],"type":"integer"},"codDeposito":{"type":"string"},"deposito":{"type":"string"},"categoria":{"type":"string"},"categoriaDes":{"type":"string"},"classe":{"type":"string"},"classeDes":{"type":"string"},"suddivisione1":{"type":"string"},"suddivisione1Des":{"type":"string"},"suddivisione2":{"type":"string"},"suddivisione2Des":{"type":"string"},"suddivisione3":{"type":"string"},"suddivisione3Des":{"type":"string"},"suddivisione4":{"type":"string"},"suddivisione4Des":{"type":"string"},"suddivisione5":{"type":"string"},"suddivisione5Des":{"type":"string"},"suddivisione6":{"type":"string"},"suddivisione6Des":{"type":"string"},"codiceTLCentrale":{"type":"string"},"varianti":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Anagrafica_Items+Variante"}}}},"IconicMobileWeb.Anagrafica_Items+MisuraType":{"type":"object","properties":{"unità":{"type":"string"},"quantità":{"format":"double","type":"number"}}},"IconicMobileWeb.Anagrafica_Items+IVAType":{"type":"object","properties":{"desc":{"type":"string"},"val":{"format":"int32","maximum":100,"minimum":0,"type":"integer"}}},"IconicMobileWeb.Anagrafica_Items+CodiceVendita":{"type":"object","properties":{"codice":{"type":"string"},"tipo":{"format":"int32","enum":[1,2,3,4,5],"type":"integer"},"moltiplicatore":{"format":"int32","type":"integer"},"divisore":{"format":"int32","type":"integer"}}},"IconicMobileWeb.Anagrafica_Items+Variante":{"type":"object","properties":{"codice":{"type":"string"},"nome":{"type":"string"}}},"IconicMobileWeb.Anagrafica_Fornitori":{"type":"object","properties":{"codice":{"type":"string"},"descrizione":{"type":"string"},"indirizzo":{"type":"string"},"città":{"type":"string"},"cap":{"type":"string"},"primario":{"format":"int32","type":"integer"}}},"IconicMobileWeb.Anagrafica_ArtFor":{"type":"object","properties":{"articolo":{"type":"string"},"fornitore":{"type":"string"},"codici":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Anagrafica_ArtFor+InfoCodice"}},"codiciScan":{"type":"array","items":{"type":"string"}},"pezziCartone":{"format":"int32","type":"integer"},"listiniCartone":{"type":"boolean"},"stato":{"type":"string"},"dataNPO":{"format":"date-time","type":"string"},"ordinabile":{"type":"boolean"},"nrm":{"type":"boolean"},"listini":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Anagrafica_ArtFor+Listino"}},"dataAcquisto":{"format":"date-time","type":"string"},"quantitàAcquisto":{"format":"double","type":"number"},"valoreAcquisto":{"format":"double","type":"number"},"dataOrdine":{"format":"date-time","type":"string"},"quantitàOrdine":{"format":"double","type":"number"},"valoreOrdine":{"format":"double","type":"number"},"sostituto":{"type":"string"}}},"IconicMobileWeb.Anagrafica_ArtFor+InfoCodice":{"type":"object","properties":{"codice":{"type":"string"},"descrizione":{"type":"string"},"tipo":{"format":"int32","enum":[0,1],"type":"integer"},"dataNPO":{"format":"date-time","type":"string"},"misura":{"$ref":"#/definitions/IconicMobileWeb.Anagrafica_Articoli+MisuraType"}}},"IconicMobileWeb.Anagrafica_ArtFor+Listino":{"type":"object","properties":{"prezzo":{"format":"double","type":"number"},"dataInizio":{"format":"date-time","type":"string"},"dataFine":{"format":"date-time","type":"string"},"codice":{"type":"string"}}},"IconicMobileWeb.Anagrafica_Promozioni":{"type":"object","properties":{"codice":{"type":"string"},"descrizione":{"type":"string"},"dataInizio":{"format":"date-time","type":"string"},"dataFine":{"format":"date-time","type":"string"},"note":{"type":"string"},"oldGuid":{"type":"string"},"origine":{"format":"int32","enum":[0,1,2],"type":"integer"},"articoli":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Anagrafica_Promozioni+PromoArticolo"}}}},"IconicMobileWeb.Anagrafica_Promozioni+PromoArticolo":{"type":"object","properties":{"articolo":{"type":"string"},"tipo":{"format":"int32","enum":[0,1,-1],"type":"integer"},"valore":{"format":"double","type":"number"},"descrizione":{"type":"string"}}},"IconicMobileWeb.Anagrafica_Storico":{"type":"object","properties":{"giorno":{"format":"int32","type":"integer"},"mese":{"format":"int32","type":"integer"},"quantita":{"format":"double","type":"number"},"valore":{"format":"double","type":"number"}}},"IconicMobileWeb.Anagrafica_StoricoVendite":{"type":"object","properties":{"data_riferimento":{"type":"string"},"quantita":{"format":"double","type":"number"},"valore":{"format":"double","type":"number"},"iva":{"type":"string"}}},"IconicMobileWeb.Anagrafica_StoricoAcquisti":{"type":"object","properties":{"data_riferimento":{"type":"string"},"quantita":{"format":"double","type":"number"},"valore":{"format":"double","type":"number"},"iva":{"type":"string"},"fornitore":{"type":"string"}}},"IconicMobileWeb.Bolla":{"type":"object","properties":{"codice":{"type":"string"},"tipo":{"type":"string"},"numero":{"type":"string"},"data":{"format":"date-time","type":"string"},"fornitore":{"type":"string"},"note":{"type":"string"},"righe":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Bolla+Riga"}}}},"IconicMobileWeb.Bolla+Riga":{"type":"object","properties":{"articolo":{"type":"string"},"quantita":{"format":"double","type":"number"}}},"IconicMobileWeb.Bolla+Verifica":{"type":"object","properties":{"bolle":{"type":"array","items":{"type":"string"}},"righe":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Bolla+RigaVerifica"}}}},"IconicMobileWeb.Bolla+RigaVerifica":{"type":"object","properties":{"articolo":{"type":"string"},"ean":{"type":"string"},"quantita":{"format":"double","type":"number"}}},"IconicMobileWeb.Anagrafica_RigheNRM":{"type":"object","properties":{"deposito":{"type":"string"},"codice":{"type":"string"},"codVen":{"type":"string"},"acquisti":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Anagrafica_RigheNRM+Acquisti_NRM"}},"categoria":{"type":"string"},"iva":{"format":"int32","type":"integer"},"prezzo":{"format":"double","type":"number"}}},"IconicMobileWeb.Anagrafica_RigheNRM+Acquisti_NRM":{"type":"object","properties":{"descrizione":{"type":"string"},"codice":{"type":"string"},"valore":{"format":"double","type":"number"},"prezzo":{"format":"double","type":"number"},"promo":{"type":"boolean"},"pezziCartone":{"format":"int32","type":"integer"},"fattorePrezzo":{"format":"double","type":"number"}}},"IconicMobileWeb.Anagrafica_RigheNRM+Ordine_NRM":{"type":"object","properties":{"codice":{"type":"string"},"valore":{"format":"double","type":"number"}}},"IconicMobileWeb.Anagrafica_Depositi":{"type":"object","properties":{"codDeposito":{"type":"string"},"deposito":{"type":"string"}}},"IconicMobileWeb.Anagrafica_Scadenze":{"type":"object","properties":{"item_code":{"type":"string"},"qty":{"type":"string"},"start_expiry_date":{"format":"date-time","type":"string"},"end_expiry_date":{"format":"date-time","type":"string"},"action":{"type":"string"},"state":{"type":"string"},"expired":{"type":"boolean"},"id_row":{"format":"int32","type":"integer"},"id_user":{"format":"int32","type":"integer"},"name_user":{"type":"string"}}},"IconicMobileWeb.Anagrafica_StoricoOrdini":{"type":"object","properties":{"order_code":{"type":"string"},"order_number":{"type":"string"},"order_date":{"format":"date-time","type":"string"},"supplier":{"type":"string"},"notes":{"type":"string"},"rows":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Anagrafica_StoricoOrdini+RigaOrdine"}}}},"IconicMobileWeb.Anagrafica_StoricoOrdini+RigaOrdine":{"type":"object","properties":{"item_supplier":{"type":"string"},"item_code":{"type":"string"},"amount":{"format":"double","type":"number"},"package_amount":{"format":"double","type":"number"},"pieces_package":{"format":"double","type":"number"}}},"IconicMobileWeb.ModificheBO":{"type":"object","properties":{"id":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"},"mac":{"type":"string"},"idPV":{"format":"int32","type":"integer"},"deviceDescription":{"type":"string"},"idUser":{"format":"int32","type":"integer"},"userDescription":{"type":"string"},"dataOraDevice":{"format":"date-time","type":"string"},"dataOraServer":{"format":"date-time","type":"string"},"dataOraApplicazioneBackOffice":{"format":"date-time","type":"string"},"dataOraApplicazioneServer":{"format":"date-time","type":"string"},"soggetto":{"type":"string"},"modifica":{"format":"int32","enum":[0,1,2,3,4,5,6],"type":"integer"},"valore":{"type":"object"},"dataInizioAzione":{"format":"date-time","type":"string"},"dataFineAzione":{"format":"date-time","type":"string"},"dataScadenza":{"format":"date-time","type":"string"},"action":{"type":"string"}}},"IconicMobileWeb.ModificheBO+guidCnt":{"type":"object","properties":{"id":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}}},"IconicMobileWeb.ModificaMsg":{"type":"object","properties":{"data":{"format":"date-time","type":"string"},"idUtente":{"format":"int32","type":"integer"},"idPV":{"format":"int32","type":"integer"},"valore":{"type":"object"}}},"IconicMobileWeb.PromoMsg":{"type":"object","properties":{"valore":{"$ref":"#/definitions/IconicMobileWeb.PromoMsg+InfoPromozione"},"data":{"format":"date-time","type":"string"},"idUtente":{"format":"int32","type":"integer"},"idPV":{"format":"int32","type":"integer"}}},"IconicMobileWeb.PromoMsg+InfoPromozione":{"type":"object","properties":{"descrizione":{"type":"string"},"dataInizio":{"format":"date-time","type":"string"},"dataFine":{"format":"date-time","type":"string"}}},"IconicMobileWeb.OffertaMsg":{"type":"object","properties":{"valore":{"$ref":"#/definitions/IconicMobileWeb.OffertaMsg+InfoOfferta"},"data":{"format":"date-time","type":"string"},"idUtente":{"format":"int32","type":"integer"},"idPV":{"format":"int32","type":"integer"}}},"IconicMobileWeb.OffertaMsg+InfoOfferta":{"type":"object","properties":{"promozione":{"type":"string"},"tipo":{"format":"int32","enum":[0,1,-1],"type":"integer"},"valore":{"format":"double","type":"number"}}},"IconicMobileWeb.RootScadenzeMsg":{"type":"object","properties":{"date":{"format":"date-time","type":"string"},"user_id":{"format":"int32","type":"integer"},"store_id":{"format":"int32","type":"integer"},"list_of_expire":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.ScadenzeMsg"}}}},"IconicMobileWeb.ScadenzeMsg":{"type":"object","properties":{"action":{"type":"string"},"item_code":{"type":"string"},"start_expiry_date":{"format":"date-time","type":"string"},"end_expiry_date":{"format":"date-time","type":"string"},"expiry_date":{"format":"date-time","type":"string"},"qty":{"format":"double","type":"number"},"state":{"type":"string"}}},"IconicMobileWeb.Centrale":{"required":["CodiceBO","Descrizione"],"type":"object","properties":{"ID":{"format":"int32","type":"integer"},"CodiceBO":{"type":"string"},"Descrizione":{"type":"string"},"trasferimenti":{"type":"boolean"}}},"IconicMobileWeb.PuntoVendita":{"required":["CodicePV"],"type":"object","properties":{"ID":{"format":"int32","type":"integer"},"CodicePV":{"type":"string"},"Descrizione":{"type":"string"},"CodiceWS":{"format":"int32","type":"integer"},"IDCentrale":{"format":"int32","type":"integer"},"urlWS":{"type":"string"}}},"IconicMobileWeb.Cesto":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"name":{"type":"string"},"idPV":{"format":"int32","type":"integer"},"idUserCreator":{"format":"int32","type":"integer"},"idUserLastMod":{"format":"int32","type":"integer"},"dataCreator":{"format":"date-time","type":"string"},"dataLastMod":{"format":"date-time","type":"string"},"costoConfezione":{"format":"double","type":"number"},"spesaConfezionamento":{"format":"double","type":"number"},"prezzo":{"format":"double","type":"number"},"scatola":{"type":"boolean"},"righe":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Cesto+Riga"}}}},"IconicMobileWeb.Cesto+Riga":{"type":"object","properties":{"codice":{"type":"string"},"quantita":{"format":"int32","type":"integer"},"codArticolo":{"type":"string"},"descrizione":{"type":"string"}}},"IconicMobileWeb.DeviceSetting":{"type":"object","properties":{"idPuntoVendita":{"format":"int32","type":"integer"},"numGiorniSellin":{"format":"int32","type":"integer"},"numColliMax":{"format":"int32","type":"integer"},"tipiCodiciVendita":{"type":"array","items":{"format":"int32","type":"integer"}},"idScandIt":{"format":"int32","type":"integer"},"chiaveScandIt":{"type":"string"},"tipiCodiciDocumenti":{"type":"array","items":{"format":"int32","type":"integer"}},"tipiCodiciOrdini":{"type":"array","items":{"format":"int32","type":"integer"}},"tipiCodiciInventari":{"type":"array","items":{"format":"int32","type":"integer"}},"tipiOffertaPrezziReparti":{"type":"array","items":{"type":"string"}},"cassaSpesaAssistita":{"format":"int32","enum":[0,1],"type":"integer"},"negozio":{"format":"int32","type":"integer"},"moduli":{"$ref":"#/definitions/IconicMobileWeb.Moduli"},"idCentrale":{"format":"int32","type":"integer"},"descPuntoVendita":{"type":"string"},"descCentrale":{"type":"string"},"gruppiUtenti":{"type":"array","items":{"format":"int32","type":"integer"}},"trasferimentiPossibili":{"type":"boolean"},"macAddress":{"type":"string"},"name":{"type":"string"},"latitude":{"format":"double","type":"number"},"longitude":{"format":"double","type":"number"},"endAuthorization":{"format":"date-time","type":"string"},"lastConnected":{"format":"date-time","type":"string"},"lastModification":{"format":"date-time","type":"string"},"lastSetup":{"format":"date-time","type":"string"},"setup":{"format":"int32","type":"integer"},"resetDB":{"type":"boolean"},"versioneApp":{"format":"int32","type":"integer"},"appAuth":{"format":"int32","type":"integer"},"anagraficaWS":{"type":"string"},"anagraficaWS_sent":{"type":"boolean"},"anagraficaWS_connected":{"type":"boolean"},"iconicMobileNew":{"type":"boolean"},"appAuthNew":{"format":"int32","type":"integer"}}},"IconicMobileWeb.Moduli":{"type":"object","properties":{"canUseCamera":{"type":"boolean"},"attivaVibrazione":{"type":"boolean"},"attivaParlato":{"type":"boolean"},"moduloFoto":{"type":"boolean"},"moduloDocumenti":{"type":"boolean"},"moduloOrdini":{"type":"boolean"},"moduloInventari":{"type":"boolean"},"moduloClienti":{"type":"boolean"},"moduloBolle":{"type":"boolean"},"moduloSpesa":{"type":"boolean"},"moduloCesti":{"type":"boolean"},"editEtichetta":{"type":"boolean"},"editPrezzo":{"type":"boolean"},"editGiacenze":{"type":"boolean"},"editPromo":{"type":"boolean"},"editScortaMin":{"type":"boolean"},"visioneCompleta":{"type":"boolean"},"depositi":{"type":"boolean"},"moduloOrdiniMF":{"type":"boolean"},"moduloRaccoltaArticoli":{"type":"boolean"},"numGGmoduloFoto":{"format":"int32","type":"integer"},"numGGmoduloDocumenti":{"format":"int32","type":"integer"},"numGGmoduloClienti":{"format":"int32","type":"integer"},"numGGmoduloOrdini":{"format":"int32","type":"integer"},"numGGmoduloInventari":{"format":"int32","type":"integer"},"numGGmoduloBolle":{"format":"int32","type":"integer"},"numGGmoduloSpesa":{"format":"int32","type":"integer"},"numGGmoduloCesti":{"format":"int32","type":"integer"},"numGGmoduloRaccoltaArticoli":{"format":"int32","type":"integer"},"moduloScadenze":{"type":"boolean"},"numGGmoduloScadenze":{"format":"int32","type":"integer"},"moduloCalendario":{"type":"boolean"},"numGGmoduloCalendario":{"format":"int32","type":"integer"},"articoloNoAnagraDocumenti":{"type":"boolean"},"articoloNoAnagraOrdini":{"type":"boolean"},"articoloNoAnagraInventari":{"type":"boolean"},"articoloNoAnagraBolle":{"type":"boolean"},"articoloNoAnagraSpesa":{"type":"boolean"},"articoloNoAnagraCesti":{"type":"boolean"},"articoloNoAnagraRaccoltaArticoli":{"type":"boolean"},"articoloNoAnagraScadenze":{"type":"boolean"},"articoloNoFornitoreDocumenti":{"type":"boolean"},"articoloNoFornitoreOrdini":{"type":"boolean"}}},"IconicMobileWeb.Position":{"type":"object","properties":{"latitude":{"format":"double","type":"number"},"longitude":{"format":"double","type":"number"}}},"IconicMobileWeb.Log":{"type":"object","properties":{"modulo":{"type":"string"},"messaggio":{"type":"string"},"eccezione":{"type":"string"},"IDUtente":{"format":"int32","type":"integer"},"dataOraDevice":{"format":"date-time","type":"string"},"exceptionHttpCod":{"type":"string"},"exceptionHttpMsg":{"type":"string"}}},"IconicMobileWeb.DeviceInfo+anagraficaWSInfo":{"type":"object","properties":{"address":{"type":"string"},"sent":{"type":"boolean"},"connected":{"type":"boolean"}}},"IconicMobileWeb.DeviceDocConfig+DocConfig":{"type":"object","properties":{"type":{"$ref":"#/definitions/IconicMobileWeb.DeviceDocConfig+DocType"},"id_data":{"type":"string"},"desc_data":{"type":"string"},"members":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.DeviceDocConfig+DocMember"}},"configurations_data":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.DeviceDocConfig+DocConfigDett"}},"is_processing":{"type":"boolean"},"is_enabled":{"type":"boolean"}}},"IconicMobileWeb.DeviceDocConfig+DocType":{"type":"object","properties":{"id_type":{"type":"string"},"desc_type":{"type":"string"}}},"IconicMobileWeb.DeviceDocConfig+DocMember":{"type":"object","properties":{"id_member":{"type":"string"},"desc_member":{"type":"string"},"in_out":{"type":"string"}}},"IconicMobileWeb.DeviceDocConfig+DocConfigDett":{"type":"object","properties":{"key_data":{"type":"string"},"is_modify":{"type":"boolean"},"is_visible":{"type":"boolean"},"label_data":{"type":"string"},"is_mandatory":{"type":"boolean"}}},"IconicMobileWeb.ModuleAlert":{"type":"object","properties":{"id_module":{"type":"string"},"threshold":{"format":"int32","type":"integer"},"rates_alert":{"type":"array","items":{"format":"int32","type":"integer"}}}},"IconicMobileWeb.DeviceInfo+DeviceProp":{"type":"object","properties":{"appRelease":{"type":"string"},"androidVersion":{"type":"string"},"deviceModel":{"type":"string"}}},"IconicMobileWeb.MiniUtenteDevice":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"userName":{"type":"string"},"password":{"type":"string"},"descrizione":{"type":"string"},"ordineIcone":{"type":"string"}}},"IconicMobileWeb.Documenti_Documento":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"idUtente":{"format":"int32","type":"integer"},"userDescription":{"type":"string"},"idPuntoVendita":{"format":"int32","type":"integer"},"stato":{"format":"int32","enum":[0,1,2,3],"type":"integer"},"dataCrazione":{"format":"date-time","type":"string"},"dataUltimaModifica":{"format":"date-time","type":"string"},"righe":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Documenti_Documento+RigaDocumento"}},"tipo":{"type":"string"},"fornitore":{"type":"string"},"magazzino":{"format":"int32","type":"integer"},"cliente":{"type":"string"},"numero":{"type":"string"},"deposito":{"type":"string"},"note":{"type":"string"},"dataDoc":{"format":"date-time","type":"string"},"dataIngresso":{"format":"date-time","type":"string"},"in_out":{"type":"string"},"tipoScaricoTrasformazione":{"format":"int32","enum":[0,1,2,3],"type":"integer"},"tipoTrasformazione":{"format":"int32","enum":[0,1,2],"type":"integer"},"dataChiusura":{"format":"date-time","type":"string"},"uuid":{"type":"string"}}},"IconicMobileWeb.Documenti_Documento+RigaDocumento":{"required":["codice","quantita"],"type":"object","properties":{"id":{"format":"int32","type":"integer"},"codice":{"type":"string"},"quantita":{"format":"double","type":"number"},"codArticolo":{"type":"string"},"codVend":{"type":"string"},"tipoCodVend":{"format":"int32","enum":[1,2,3,4,5],"type":"integer"},"descrizione":{"type":"string"},"codVariante":{"type":"string"},"descrizioneVariante":{"type":"string"},"fornitore":{"type":"string"},"articoloFornitore":{"type":"string"},"costo":{"format":"double","type":"number"},"pezziCartone":{"format":"double","type":"number"},"repartoDes":{"type":"string"},"giacenza":{"format":"double","type":"number"},"peso":{"format":"double","type":"number"},"prezzo":{"format":"double","type":"number"},"misura":{"type":"string"},"venditaAPeso":{"type":"boolean"},"stato":{"type":"string"},"codiceTLCentrale":{"type":"string"}}},"IconicMobileWeb.DocumentoDevice":{"type":"object","properties":{"tipo":{"type":"string"},"fornitore":{"type":"string"},"magazzino":{"format":"int32","type":"integer"},"cliente":{"type":"string"},"numero":{"type":"string"},"deposito":{"type":"string"},"note":{"type":"string"},"dataDoc":{"format":"date-time","type":"string"},"dataIngresso":{"format":"date-time","type":"string"},"in_out":{"type":"string"},"tipoScaricoTrasformazione":{"format":"int32","enum":[0,1,2,3],"type":"integer"},"tipoTrasformazione":{"format":"int32","enum":[0,1,2],"type":"integer"},"dataChiusura":{"format":"date-time","type":"string"},"uuid":{"type":"string"}}},"IconicMobileWeb.DocumentoDevice+RigaDocDevice":{"required":["codice","quantita"],"type":"object","properties":{"codice":{"type":"string"},"quantita":{"format":"double","type":"number"},"codArticolo":{"type":"string"},"codVend":{"type":"string"},"tipoCodVend":{"format":"int32","enum":[1,2,3,4,5],"type":"integer"},"descrizione":{"type":"string"},"codVariante":{"type":"string"},"descrizioneVariante":{"type":"string"},"fornitore":{"type":"string"},"articoloFornitore":{"type":"string"},"costo":{"format":"double","type":"number"},"pezziCartone":{"format":"double","type":"number"},"repartoDes":{"type":"string"},"giacenza":{"format":"double","type":"number"},"peso":{"format":"double","type":"number"},"prezzo":{"format":"double","type":"number"},"misura":{"type":"string"},"venditaAPeso":{"type":"boolean"},"stato":{"type":"string"},"codiceTLCentrale":{"type":"string"}}},"IconicMobileWeb.DocumentoDevice+RigaDocDeviceId":{"required":["codice","quantita"],"type":"object","properties":{"id":{"format":"int32","type":"integer"},"codice":{"type":"string"},"quantita":{"format":"double","type":"number"},"codArticolo":{"type":"string"},"codVend":{"type":"string"},"tipoCodVend":{"format":"int32","enum":[1,2,3,4,5],"type":"integer"},"descrizione":{"type":"string"},"codVariante":{"type":"string"},"descrizioneVariante":{"type":"string"},"fornitore":{"type":"string"},"articoloFornitore":{"type":"string"},"costo":{"format":"double","type":"number"},"pezziCartone":{"format":"double","type":"number"},"repartoDes":{"type":"string"},"giacenza":{"format":"double","type":"number"},"peso":{"format":"double","type":"number"},"prezzo":{"format":"double","type":"number"},"misura":{"type":"string"},"venditaAPeso":{"type":"boolean"},"stato":{"type":"string"},"codiceTLCentrale":{"type":"string"}}},"IconicMobileWeb.Documenti_Documento+RichiestaParametri":{"type":"object","properties":{"days":{"format":"int32","type":"integer"},"user_id":{"format":"int32","type":"integer"}}},"IconicMobileWeb.Inventario":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"idUtente":{"format":"int32","type":"integer"},"idPuntoVendita":{"format":"int32","type":"integer"},"note":{"type":"string"},"ora":{"format":"date-time","type":"string"},"creazione":{"format":"date-time","type":"string"},"ultimaModifica":{"format":"date-time","type":"string"},"dataChiusura":{"format":"date-time","type":"string"},"tipo":{"format":"int32","enum":[0,1],"type":"integer"},"stato":{"format":"int32","enum":[0,1,2,3],"type":"integer"},"elementi":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.Inventario+Elemento"}},"nomeUtente":{"type":"string"}}},"IconicMobileWeb.Inventario+Elemento":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"codice":{"type":"string"},"quantita":{"format":"double","type":"number"},"descrizione":{"type":"string"},"codArticolo":{"type":"string"},"codVend":{"type":"string"},"tipoCodVen":{"format":"int32","enum":[1,2,3,4,5],"type":"integer"},"eliminato":{"type":"boolean"},"costo":{"format":"double","type":"number"},"pezziCartone":{"format":"double","type":"number"},"repartoDes":{"type":"string"},"giacenza":{"format":"double","type":"number"},"peso":{"format":"double","type":"number"},"prezzo":{"format":"double","type":"number"},"misura":{"type":"string"},"venditaAPeso":{"type":"boolean"},"stato":{"type":"string"},"fornitore":{"type":"string"},"articoloFornitore":{"type":"string"}}},"IconicMobileWeb.Inventario+RichiestaParametriInv":{"type":"object","properties":{"days":{"format":"int32","type":"integer"},"user_id":{"format":"int32","type":"integer"}}},"IconicMobileWeb.RaccolteDevice":{"required":["type_list","id_user","state_list","date_list"],"type":"object","properties":{"id_list":{"format":"int32","type":"integer"},"code_list":{"type":"string"},"type_list":{"type":"string"},"desc_list":{"type":"string"},"id_user":{"format":"int32","type":"integer"},"name_user":{"type":"string"},"state_list":{"format":"int32","enum":[0,1,2,3],"type":"integer"},"created_at":{"format":"date-time","type":"string"},"last_modified":{"format":"date-time","type":"string"},"date_list":{"format":"date-time","type":"string"},"id_store":{"format":"int32","type":"integer"},"point_of_sale_id":{"format":"int32","type":"integer"},"closing_date":{"format":"date-time","type":"string"},"rows_list":{"type":"array","items":{"$ref":"#/definitions/IconicMobileWeb.RaccolteDevice+ListRow"}}}},"IconicMobileWeb.RaccolteDevice+ListRow":{"required":["read_code","amount","is_deleted"],"type":"object","properties":{"id":{"format":"int32","type":"integer"},"read_code":{"type":"string"},"amount":{"format":"double","type":"number"},"item_code":{"type":"string"},"sales_code":{"type":"string"},"desc_item":{"type":"string"},"date_expiry":{"format":"date-time","type":"string"},"purchase_cost":{"format":"double","type":"number"},"items_pack":{"format":"double","type":"number"},"desc_dep":{"type":"string"},"stock":{"format":"double","type":"number"},"weight":{"format":"double","type":"number"},"sales_price":{"format":"double","type":"number"},"measurement":{"type":"string"},"sale_by_weight":{"type":"boolean"},"state":{"type":"string"},"supplier":{"type":"string"},"item_supplier":{"type":"string"}}},"IconicMobileWeb.RaccolteDevice+RichiestaParametriList":{"type":"object","properties":{"days":{"format":"int32","type":"integer"},"user_id":{"format":"int32","type":"integer"}}},"IconicMobileWeb.UsersModules":{"type":"object","properties":{"tipiOffertaPrezziReparti":{"type":"array","items":{"type":"string"}},"canUseCamera":{"type":"boolean"},"attivaVibrazione":{"type":"boolean"},"attivaParlato":{"type":"boolean"},"moduloInventari":{"type":"boolean"},"moduloFoto":{"type":"boolean"},"moduloDocumenti":{"type":"boolean"},"moduloOrdini":{"type":"boolean"},"moduloClienti":{"type":"boolean"},"moduloBolle":{"type":"boolean"},"moduloSpesa":{"type":"boolean"},"moduloCesti":{"type":"boolean"},"editEtichetta":{"type":"boolean"},"editPrezzo":{"type":"boolean"},"editGiacenze":{"type":"boolean"},"editPromo":{"type":"boolean"},"editScortaMin":{"type":"boolean"},"visioneCompleta":{"type":"boolean"},"depositi":{"type":"boolean"},"moduloOrdiniMF":{"type":"boolean"},"moduloRaccoltaArticoli":{"type":"boolean"},"numGGmoduloFoto":{"format":"int32","type":"integer"},"numGGmoduloDocumenti":{"format":"int32","type":"integer"},"numGGmoduloClienti":{"format":"int32","type":"integer"},"numGGmoduloOrdini":{"format":"int32","type":"integer"},"numGGmoduloInventari":{"format":"int32","type":"integer"},"numGGmoduloBolle":{"format":"int32","type":"integer"},"numGGmoduloSpesa":{"format":"int32","type":"integer"},"numGGmoduloCesti":{"format":"int32","type":"integer"},"numGGmoduloRaccoltaArticoli":{"format":"int32","type":"integer"},"moduloScadenze":{"type":"boolean"},"numGGmoduloScadenze":{"format":"int32","type":"integer"},"moduloCalendario":{"type":"boolean"},"numGGmoduloCalendario":{"format":"int32","type":"integer"},"articoloNoAnagraDocumenti":{"type":"boolean"},"articoloNoAnagraOrdini":{"type":"boolean"},"articoloNoAnagraInventari":{"type":"boolean"},"articoloNoAnagraBolle":{"type":"boolean"},"articoloNoAnagraSpesa":{"type":"boolean"},"articoloNoAnagraCesti":{"type":"boolean"},"articoloNoAnagraRaccoltaArticoli":{"type":"boolean"},"articoloNoAnagraScadenze":{"type":"boolean"},"articoloNoFornitoreDocumenti":{"type":"boolean"},"articoloNoFornitoreOrdini":{"type":"boolean"}}}}}